---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<section class:list={["section", className]}>
  <h2 class="section-heading">{title}</h2>
  <slot />
</section>

<style lang="scss">
  .section {
  }

  .section-heading {
    margin-bottom: var(--sp-sm);
    color: var(--theme-text);
    font-size: var(--fs-sm);
    font-weight: 500;
    line-height: var(--lh-tight);
  }
</style>
